.profile{
  display: block;
  padding-bottom: 1em;
  padding-top: 1em;
}

.profile-thumbnail {
  @include span-columns(4);
  border-radius: 5%;
  float: left;
  padding: 0em, 1em, 0em, 1em;
}

.player-stats {
  @include span-columns(8);
  @include omega();
  float: right;
}

.matches {
  clear: both;
  padding-top: 1em;
}

.box {
  @include omega(4n);
  @include span-columns(3);
}

.match-history-list {
  li {
    @include span-columns(12);
    border: .3em solid;
    margin: .3em;
  }

  .match-stats-winner {
    border-color: green;
  }

  .match-stats-loser {
    border-color: red;
  }
}

.match-stats {
  p {
    @include span-columns(2);
    @include omega();
    display: inline;
    text-align: center;
    vertical-align: middle;
  }

  .match-link {
    @include span-columns(4);
  }
}
