.box {
  @include span-columns(3);
  @include omega(5n);
  padding-top: 1em;
}

.image-container {
  height: 150px;
  background-size: cover;
  background-position: center center;

  img {
    width: 100%;
  }
}

.pagination {
  clear: left;
}
