.box {
  @include span-columns(2.93);
  padding-top: 1em;
}

.image-container {
  height: 10em;
  background-size: cover;
  background-position: center center;

  img {
    width: 100%;
  }
}

.pagination {
  clear: left;
}
