<div class="base-container">
<h1 class="h1-banner">Match History</h1>

<ul class="match-history-list">
  <%= render(partial:
    "match_history",
    collection: @matches,
    as: :match) ||
    "No Past Matches" %>
</ul>

<%= paginate @matches %>
</div>
