<div class="box">
<ul>
  <li>
    <%= link_to(court_path(court)) do %>
      <div class="image-container" style="background-image: url('');"></div>
    <% end %>
  </li>
  <li><%= court.name %></li>
  <li><%= court.address %></li>
  <li><%= court.calculate_average_elo %></li>
</ul>
</div>
