<% if object.errors.any? %>
  <%= pluralize(object.errors.count, "error") %> prevented your account from being created:
  <ul>
    <% object.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>
<% end %>
