.container {
  h1 {
    text-align: center;
  }
  padding: 1em 0 1em 0;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.base-container {
  @include outer-container;
  width: 50em;
}

.form-container {
  @include outer-container;
  width: 30em;
}

.comments {
  clear: both;
}

.match-winner-form {
  label {
    display: inline;
  }
}
