header {
  @include outer-container;
  @include clearfix;
  padding: 1em 0 0 0;

  h1 {
    float: left;
  }

  .parent-nav {
    float: right;
    padding: .5em;

    .flash {
      text-align: center;
    }
  }

  li {
    float: right;
    display: inline;
    padding: .5em;
    white-space: nowrap;
  }

  .child-nav {
    @include outer-container;
    margin: 0;
    clear: both;
    background-color: $grey;
    border: 0;
    padding: 1em;
  }

  .links {
    @include span-columns(6);
    text-align: center;

    li {
      float: left;
      padding: 0 .5em 0 .5em;
    }
  }

  .search {
    @include span-columns(6);
    @include omega();
    padding: 0;
    float: right;
    display: inline;
  }

  #search {
    margin: 0;
    width: 70%;
    padding: .3em;
  }
}
