header {
  @include outer-container;
  @include clearfix;
  padding: 1em 0 0 0;
  margin: 0 auto;

  h1 {
    float: left;
  }

  .parent-nav {
    float: right;
    padding: .5em;

    .flash {
      text-align: center;
    }
  }

  li {
    float: right;
    display: inline;
    padding: .5em;
    white-space: nowrap;
    margin-top: .4em;
  }

  .child-nav {
    @include outer-container;
    margin: 0;
    clear: both;
    border: 0;
    padding: 1em;
    width: 100%;
  }

  .links {
    @include span-columns(6);
    text-align: center;

    li {
      float: left;
      padding: 0 .5em 0 .5em;
    }
  }

  .search {
    @include span-columns(6);
    @include omega();
    padding: 0;
    float: right;
  }

  #search {
    margin: 0;
    width: 70%;
    padding: .5em;
    display: inline;
  }

  .search-button {
    margin-top: -3px;
    display: inline;
    padding: .5em;
    border: 1px solid $orange;
  }
}

.grey-box {
  position: absolute;
  width: 100%;
  background-color: $grey;
  z-index: -1;
  height: 4.2em;
  margin-top: -4.2em;
}

.flash {
  text-align: center
}
